@define-color dawn #faf4ed;
@define-color moon #191724;
@define-color half-moon #393552;

@define-color teal #94e2d5;
@define-color peach #ff79c6;
@define-color mauve #cba6f7;
@define-color maroon #eba0ac;
@define-color health #39ff14;
@define-color lavender #b4befe;

* {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 900;
  font-family: "JetBrainsMono Nerd Font Propo";
}

window#waybar {
  background: transparent;
}

#workspaces {
  margin-left: 15rem;
}

#workspaces button {
  margin: 0 2px;
  padding: 0 5px;
  color: @dawn;
  background: @half-moon;
  border-radius: 100px;
  transition: all 250ms ease-in-out;
}

#workspaces button.active {
  color: @half-moon;
  background: @mauve;
  min-width: 30px;
  border-radius: 100px;
}

#tray,
#clock,
#battery,
#network,
#pulseaudio {
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 100px;
}

#clock {
  color: @mauve;
  background: @moon;
}

#tray {
  background: @moon;
}

#pulseaudio {
  color: @teal;
  background: @half-moon;
}

#network {
  color: @lavender;
  background: @half-moon;
}

#battery {
  margin-right: 15rem;
  color: @health;
  background: @half-moon;
}

#battery.charging,
#battery.charging.warning,
#battery.charging.critical {
  color: @health;
}

#battery.warning {
  color: @maroon;
}

#battery.critical {
  color: @peach;
}
