@define-color background rgb(18, 17, 27);
@define-color background-alt rgb(18, 17, 27);
@define-color background-faded rgb(18, 17, 27);

@define-color crust #11111b;
@define-color foreground #cdd6f4;
@define-color red #f38ba8;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color blue #89b4fa;
@define-color gray #313244;
@define-color select #585b70;

* {
  outline: none;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 18px;
  text-shadow: none;
  color: @foreground;
  background-color: transparent;
  border-radius: 2px;
}

.control-center {
  border-radius: 20px;
  background-color: alpha(@background, 1);
  box-shadow: none;
  padding: 2px;
}

.notification-row .notification-background {
  border-radius: 2px;
  margin: 5px 0 15px;
}

.notification {
  background-color: @background;
  border-radius: 20px;
  padding: 6px 10px;
  margin-bottom: 6px;
  min-height: 50px;
  box-shadow: none;
}

.notification .summary {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.notification .time {
  font-size: 0.75rem;
  color: alpha(@foreground, 0.6);
}

.notification .body {
  font-size: 0.95rem;
  color: @foreground;
}

.notification-action > button {
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: @select;
  color: @foreground;
  border-radius: 2px;
  border: none;
  margin: 6px 6px 0 0;
}

.notification-action > button:hover {
  background-color: @blue;
}

.notification-action > button:hover label {
  background-color: @blue;
  color: @crust;
}

.notification.critical {
  background: @red;
}

.notification.critical .title,
.notification.critical .body,
.notification.critical .summary {
  color: alpha(@crust, 0.9);
  font-weight: bold;
}

.notification.low,
.notification.normal {
  background-color: alpha(@background, 0.95);
}

.image {
  margin-right: 10px;
  min-width: 36px;
  min-height: 36px;
  border: none;
}

.close-button {
  background-color: alpha(@gray, 0.8);
  border-radius: 8px;
}

.close-button label {
  color: aliceblue;
}

.close-button:hover {
  background-color: alpha(@red, 0.8);
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background-color: @gray;
  color: @foreground;
  border-radius: 6px;
}

.notification-group-collapse-button:hover {
  background-color: @blue;
  color: @crust;
}

.notification-group-close-all-button:hover {
  background-color: @red;
  color: @crust;
}

.widget-title {
  padding: 15px;
  font-weight: bold;
}

.widget-title > label {
  font-size: 1.5rem;
}

.widget-title > button {
  background: @red;
  border: none;
  border-radius: 100px;
  padding: 0 6px;
  transition: all 0.7s ease;
}

.widget-title > button label {
  color: @crust;
}

.widget-title > button:hover {
  background: alpha(@red, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}
