@define-color dawn #faf4ed;
@define-color moon #191724;
@define-color half-moon #393552;

@define-color teal #94e2d5;
@define-color peach #ff79c6;
@define-color mauve #cba6f7;
@define-color maroon #eba0ac;
@define-color health #39ff14;
@define-color lavender #b4befe;
