@define-color dawn #faf4ed;
@define-color moon #191724;
@define-color half-moon #393552;

window {
  background: @moon;
}

* {
  color: @dawn;
  font-weight: bolder;
  font-size: 18px;
  font-family: "JetBrainsMono Nerd Font Propo";
}

#scroll {
  padding: 0.5rem;
}

#input {
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  min-height: 0;
  font-size: 0;
}

#inner-box {
  margin: 0.5rem 1.3rem;
  font-size: 1rem;
}

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 0.5rem;
}

#entry:selected {
  outline: none;
  background: @half-moon;
}
